# Schülerdaten Einlesen (df_wahl)

In [317]:
import pandas as pd

In [318]:
df_wahl = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT2_Wahl.csv', delimiter= ';')
df_event = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT1_Veranstaltungsliste.csv', delimiter= ';')
df_raum = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT0_Raumliste.csv', delimiter= ';')

In [319]:
df_wahl.head(20)

,Klasse,Name,Vorname,Wahl 1,Wahl 2,Wahl 3,Wahl 4,Wahl 5,Wahl 6
0,ASS221,Bigay,Ali Eren,6.0,18.0,19.0,4.0,14.0,22.0
1,ASS221,Graf,Lena,16.0,17.0,9.0,18.0,19.0,15.0
2,ASS221,Görgen,Smilla Marie,20.0,25.0,1.0,15.0,26.0,11.0
3,ASS221,Iskender,Iclal Ece,10.0,2.0,6.0,16.0,18.0,15.0
4,ASS221,Karakas,Berfin,2.0,26.0,13.0,15.0,22.0,23.0
5,ASS221,Kavak,Hazal,NaN,NaN,NaN,NaN,NaN,NaN
6,ASS221,Martins,Ayo,6.0,16.0,18.0,23.0,24.0,25.0
7,ASS221,Mohammed,Zakariah,7.0,13.0,14.0,16.0,18.0,26.0
8,ASS221,Nguyen,Hai Nam,3.0,6.0,14.0,26.0,19.0,22.0
9,ASS221,Ntumba Tshikala,Ruth,3.0,18.0,23.0,4.0,15.0,16.0
10,ASS221,Rausch,Erik,3.0,10.0,16.0,17.0,11.0,9.0
11,ASS221,Saltan,Mustafa,6.0,18.0,19.0,4.0,14.0,22.0
12,ASS221,Schott,Isabell,15.0,17.0,3.0,18.0,8.0,16.0
13,ASS221,Sengöz,Aleyna,1.0,2.0,6.0,16.0,23.0,26.0
14,HÖH221,Alikahn,Malak,10.0,19.0,16.0,9.0,6.0,18.0
15,HÖH221,Almuhandez,Muhieb,9.0,6.0,17.0,8.0,13.0,10.0
16,HÖH221,Bendels,Lea,19.0,18.0,20.0,10.0,2.0,11.0
17,HÖH221,Bücken,Connor Luca,19.0,21.0,5.0,18.0,10.0,6.0
18,HÖH221,Dah,Mariama,18.0,18.0,21.0,27.0,4.0,13.0
19,HÖH221,Daher,Haschem,18.0,3.0,14.0,20.0,13.0,19.0

# Explorative Datenanalyse
Arithmetische Auszählung der Wahlen bei Schülern
Ziel: Die Auswertung gibt Aufschluss darüber, welcher Kurs wieviele Events mindestens pro Fachrichtung benötigt werden.

Erste Erkentnisse: 

1. Die Wahl 19 und 18 gehören zusammen (Finanzamt) Zusammen ergibt das mehr als 100 - Also muss Iterativ durch die Wahlen gearbeitet werden.

In [320]:
value_counts = pd.concat([df_wahl['Wahl 1'].value_counts(),
                         df_wahl['Wahl 2'].value_counts(),
                         df_wahl['Wahl 3'].value_counts(),
                         df_wahl['Wahl 4'].value_counts(),
                         df_wahl['Wahl 5'].value_counts(),
                         df_wahl['Wahl 6'].value_counts()], axis=1)

column_names = ['Wahl1', 'Wahl2', 'Wahl3', 'Wahl4', 'Wahl5', 'Wahl6']
value_counts.columns = column_names

value_counts.insert(0, 'event_number', value_counts.index)

print(value_counts)

      event_number  Wahl1  Wahl2  Wahl3  Wahl4  Wahl5  Wahl6
19.0          19.0   22.0   20.0     10    3.0    5.0    8.0
18.0          18.0   11.0   17.0     13    7.0    8.0    2.0
10.0          10.0   10.0    8.0      5    5.0    7.0    7.0
26.0          26.0   10.0    7.0      3   10.0    6.0    6.0
9.0            9.0    9.0    6.0      4    7.0    4.0    9.0
3.0            3.0    9.0    5.0      5   10.0    6.0    7.0
6.0            6.0    8.0   14.0      5   10.0    8.0    8.0
23.0          23.0    7.0    1.0      3    3.0    3.0    2.0
14.0          14.0    7.0    4.0     11    8.0    8.0    7.0
2.0            2.0    7.0    5.0      1    5.0    3.0    5.0
1.0            1.0    4.0    3.0      3    3.0    2.0    9.0
22.0          22.0    4.0    5.0      1    5.0    7.0    6.0
4.0            4.0    4.0    2.0      4    4.0    6.0    6.0
7.0            7.0    3.0    NaN      5    NaN    5.0    3.0
16.0          16.0    3.0    4.0      6    7.0    7.0    9.0
20.0          20.0    3.0    3.0      4    4.0    4.0    2.0
15.0          15.0    2.0    1.0      6    4.0   10.0    4.0
27.0          27.0    2.0    1.0      2    1.0    4.0    3.0
25.0          25.0    2.0    1.0      2    2.0    NaN    5.0
17.0          17.0    2.0    8.0      5    8.0    3.0    4.0
5.0            5.0    1.0    4.0      1    1.0    4.0    NaN
8.0            8.0    1.0    3.0      6    3.0    4.0    2.0
13.0          13.0    1.0    2.0     14   10.0    7.0    6.0
24.0          24.0    1.0    1.0      3    NaN    2.0    1.0
11.0          11.0    NaN    5.0      4    2.0    1.0    7.0
12.0          12.0    NaN    2.0      3    6.0    4.0    1.0
21.0          21.0    NaN    1.0      4    5.0    4.0    2.0

# Unternehmensliste einlesen (df_raum)

In [321]:
df_event = df_event.rename(columns={'Nr. ': 'event_number'})
df_event

,event_number,Unternehmen,Fachrichtung,Max. Teilnehmer,Max. Veranstaltungen,Frühester Zeitpunkt
0,1,Zentis,Industriekaufleute,20,5,A
1,2,Babor Kosmetik,Industriekaufleute,20,5,A
2,3,"EVA (Stawag, RegioIt, Aseag..)",Industriekaufleute,20,5,A
3,4,Grünenthal,"Industriekaufleute, BWL Plus (Industriekfm. Pl...",20,5,A
4,5,RWTH Aachen,Kaufleute für Büromanagement,20,5,A
5,6,Aldi,Einzelhandelskaufleute,20,5,A
6,7,Bauhaus,"Einzelhandelskaufleute, Handelsfachwirte, Dual...",20,5,A
7,8,Sparkasse Aachen,Bankkaufleute,20,5,A
8,9,Aachener Bank,Bankkaufleute,20,5,A
9,10,Debeka,Kaufleute für Versicherungen und Finanzen,20,5,B
10,11,Steuerberaterkammer Köln,Steuerfachangestellte,20,5,A
11,12,Rechtsanwaltberufe,Rechtsanwaltsfachangestellte,20,5,A
12,13,Notarberufe,Notarfachangestellte,20,5,A
13,14,Spedition Hammer,"Kaufleute für Spedition und Lagerlogistik, Kau...",20,5,A
14,15,Inform,Kaufmann/-frau für Büromanagement,20,5,A
15,16,Inform,Duales Studium Wirtschaftsinformatik,20,5,A
16,17,StädteRegion Aachen,Verwaltungsfachangestellte und Duales Studium ...,20,5,A
17,18,Finanzamt,duales Studium Dipl. Finanzwirt/-in,20,5,A
18,19,Finanzamt,Ausbildung Finanzwirt/-in,20,5,A
19,20,Justizvollzugsanstalt,"Beamter im allgemeinen Vollzugsdienst, Dipl-Ve...",20,5,A
20,21,Zoll Aachen,Beamter im mittleren und gehobenen Dienst,20,5,A
21,22,Polizei,Polizeikommisar*in,25,5,A
22,23,FH Aachen,Studienberatung,20,5,A
23,24,RWTH Aachen,Studienberatung,20,5,A
24,25,FH Aachen,Wirtschaftsrecht,20,5,A
25,26,Soziale Arbeit,Soziale Arbeit,20,5,A
26,27,Berufskolleg,Lehramt,20,5,A

In [322]:
value_counts

      event_number  Wahl1  Wahl2  Wahl3  Wahl4  Wahl5  Wahl6
19.0          19.0   22.0   20.0     10    3.0    5.0    8.0
18.0          18.0   11.0   17.0     13    7.0    8.0    2.0
10.0          10.0   10.0    8.0      5    5.0    7.0    7.0
26.0          26.0   10.0    7.0      3   10.0    6.0    6.0
9.0            9.0    9.0    6.0      4    7.0    4.0    9.0
3.0            3.0    9.0    5.0      5   10.0    6.0    7.0
6.0            6.0    8.0   14.0      5   10.0    8.0    8.0
23.0          23.0    7.0    1.0      3    3.0    3.0    2.0
14.0          14.0    7.0    4.0     11    8.0    8.0    7.0
2.0            2.0    7.0    5.0      1    5.0    3.0    5.0
1.0            1.0    4.0    3.0      3    3.0    2.0    9.0
22.0          22.0    4.0    5.0      1    5.0    7.0    6.0
4.0            4.0    4.0    2.0      4    4.0    6.0    6.0
7.0            7.0    3.0    NaN      5    NaN    5.0    3.0
16.0          16.0    3.0    4.0      6    7.0    7.0    9.0
20.0          20.0    3.0    3.0      4    4.0    4.0    2.0
15.0          15.0    2.0    1.0      6    4.0   10.0    4.0
27.0          27.0    2.0    1.0      2    1.0    4.0    3.0
25.0          25.0    2.0    1.0      2    2.0    NaN    5.0
17.0          17.0    2.0    8.0      5    8.0    3.0    4.0
5.0            5.0    1.0    4.0      1    1.0    4.0    NaN
8.0            8.0    1.0    3.0      6    3.0    4.0    2.0
13.0          13.0    1.0    2.0     14   10.0    7.0    6.0
24.0          24.0    1.0    1.0      3    NaN    2.0    1.0
11.0          11.0    NaN    5.0      4    2.0    1.0    7.0
12.0          12.0    NaN    2.0      3    6.0    4.0    1.0
21.0          21.0    NaN    1.0      4    5.0    4.0    2.0

In [323]:
def count_company_votes(df_wahl, df_event):
    
    # Sum the votes for each company
    company_votes = value_counts.sum(axis=1)
    
    # Add the votes for companies with different indices
    company_votes['Finanzamt'] = value_counts['Wahl1'].get(18, 0) + value_counts['Wahl1'].get(19, 0)
    
    # Divide the total votes by 20 to get the needed slots
    needed_slots = company_votes.sum() / 20
    
    return needed_slots

# Call the function with the loaded DataFrames
needed_slots = count_company_votes(df_wahl, df_event)

In [324]:
import math
merged_df = pd.merge(df_event, value_counts, on='event_number')

merged_df['Total 1-3'] = merged_df[['Wahl1', 'Wahl2', 'Wahl3']].sum(axis=1).astype(int)

merged_df['Total 4-6'] = merged_df[['Wahl4', 'Wahl5', 'Wahl6']].sum(axis=1).astype(int)

merged_df['Total'] = merged_df['Total 1-3'] + merged_df['Total 4-6']

merged_df['Nötige Slots'] = merged_df['Total 1-3'] / merged_df['Max. Teilnehmer']

merged_df['Optionale Slots'] = merged_df['Total 4-6'] / merged_df['Max. Teilnehmer']

threshhold = merged_df['Min. Teilnehmer'] / merged_df['Max. Teilnehmer']

# Round the 'Nötige Slots' column up or down
merged_df['Rundet Nötige Slots'] = merged_df['Nötige Slots'].apply(lambda x: math.ceil(x) if x - math.floor(x) >= threshhold else math.floor(x))

# Round the 'Optionale Slots' column up or down
merged_df['Rundet Optionale Slots'] = merged_df['Optionale Slots'].apply(lambda x: math.ceil(x) if x - math.floor(x) >= threshhold else math.floor(x))

merged_df

KeyError: 'Min. Teilnehmer'

In [ ]:
df_raum

df_slots = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E'])



df_timetable = pd.concat([df_raum, df_slots[['A', 'B', 'C', 'D', 'E']]], axis=1)

df_timetable

   Raumbezeichnung    A    B    C    D    E
0              008  NaN  NaN  NaN  NaN  NaN
1              101  NaN  NaN  NaN  NaN  NaN
2              102  NaN  NaN  NaN  NaN  NaN
3              103  NaN  NaN  NaN  NaN  NaN
4              106  NaN  NaN  NaN  NaN  NaN
5              107  NaN  NaN  NaN  NaN  NaN
6              108  NaN  NaN  NaN  NaN  NaN
7              109  NaN  NaN  NaN  NaN  NaN
8              110  NaN  NaN  NaN  NaN  NaN
9              111  NaN  NaN  NaN  NaN  NaN
10             112  NaN  NaN  NaN  NaN  NaN
11             113  NaN  NaN  NaN  NaN  NaN
12            Aula  NaN  NaN  NaN  NaN  NaN
13             209  NaN  NaN  NaN  NaN  NaN

In [ ]:
# Sort df_merged by 'Total 1-3' in descending order
df_merged_sorted = merged_df.sort_values('Total 1-3', ascending=False)

# Iterate over the sorted events
for _, event in df_merged_sorted.iterrows():
    event_number = event['event_number']
    rundet_slots = event['Rundet Nötige Slots']
    
    # Find the room with the least number of events already assigned
    min_events_room = df_timetable.iloc[:, 1:].apply(lambda row: row.notnull().sum(), axis=1).idxmin()
    
    # Assign the event to the room with the least number of events
    room_row = df_timetable.loc[min_events_room]
    available_slots = rundet_slots - room_row[1:].eq(event_number).sum()
    available_columns = room_row[1:][room_row[1:].isnull()].index.tolist()
    for i in range(min(available_slots, len(available_columns))):
        df_timetable.loc[min_events_room, available_columns[i]] = event_number

#TODO: check for frühester startzeitpunkt
        
#TODO: check for same company in ONE room 
        
#TODO: 

df_timetable

   Raumbezeichnung   A   B    C    D    E
0              008  19  19   19  NaN  NaN
1              101  18  18   25  NaN  NaN
2              102   6   6   27  NaN  NaN
3              103  10  20  NaN  NaN  NaN
4              106  14   1  NaN  NaN  NaN
5              107  26   8  NaN  NaN  NaN
6              108   3   4  NaN  NaN  NaN
7              109   9  15  NaN  NaN  NaN
8              110  13  11  NaN  NaN  NaN
9              111  17   7  NaN  NaN  NaN
10             112  16   5  NaN  NaN  NaN
11             113   2  12  NaN  NaN  NaN
12            Aula  23  21  NaN  NaN  NaN
13             209  22  24  NaN  NaN  NaN

In [ ]:
# Sort df_merged by 'Rundet nötige slots' in descending order
df_merged_sorted = merged_df.sort_values('Total 1-3', ascending=False)

# Specify the columns to be modified
columns_to_modify = ['A', 'B', 'C', 'D', 'E']

# Iterate over the event_numbers
for event_number in df_merged_sorted['event_number']:
    # Get the corresponding 'Rundet nötige slots' value
    rundet_slots = df_merged_sorted.loc[df_merged_sorted['event_number'] == event_number, 'Total 1-3'].values[0]
    
    # Iterate over the rows in df_timetable
    for row in df_timetable.index:
        # Iterate over the specified columns only
        for col in columns_to_modify:
            # Check if the event_number has been assigned five times in the row and does not exist in the column
            if df_timetable.loc[row].eq(event_number).sum() < 5 and event_number not in df_timetable[col].values:
                # Assign the event_number to the datapoint
                df_timetable.loc[row, col] = event_number
                # Break the inner loop if the event_number has been assigned 'rundet_slots' times
                if df_timetable.loc[row].eq(event_number).sum() >= rundet_slots:
                    break
        # Break the outer loop if the event_number has been assigned 'rundet_slots' times
        if df_timetable.loc[row].eq(event_number).sum() >= rundet_slots:
            break

df_timetable

   Raumbezeichnung   A   B    C    D    E
0              008  27  27   24   27   27
1              101  18  18   25  NaN  NaN
2              102   6   6   27  NaN  NaN
3              103  10  20  NaN  NaN  NaN
4              106  14   1  NaN  NaN  NaN
5              107  26   8  NaN  NaN  NaN
6              108   3   4  NaN  NaN  NaN
7              109   9  15  NaN  NaN  NaN
8              110  13  11  NaN  NaN  NaN
9              111  17   7  NaN  NaN  NaN
10             112  16   5  NaN  NaN  NaN
11             113   2  12  NaN  NaN  NaN
12            Aula  23  21  NaN  NaN  NaN
13             209  22  24  NaN  NaN  NaN

In [ ]:
# Sort df_merged by 'Rundet nötige slots' in descending order
df_merged_sorted = merged_df.sort_values('Total 1-3', ascending=False)

# Specify the columns to be modified
columns_to_modify = ['A', 'B', 'C', 'D', 'E']

# Iterate over the event_numbers
for event_number in df_merged_sorted['event_number']:
    # Get the corresponding 'Rundet nötige slots' value
    rundet_slots = df_merged_sorted.loc[df_merged_sorted['event_number'] == event_number, 'Total 1-3'].values[0]
    
    # Iterate over the rows in df_timetable
    for row in df_timetable.index:
        # Iterate over the specified columns only
        for col in columns_to_modify:
            # Check if the event_number has been assigned five times in the row and does not exist in the column
            if df_timetable.loc[row].eq(event_number).sum() < 5 and event_number not in df_timetable[col].values:
                # Assign the event_number to the datapoint
                df_timetable.loc[row, col] = event_number
                # Break the inner loop if the event_number has been assigned 'rundet_slots' times
                if df_timetable.loc[row].eq(event_number).sum() >= rundet_slots:
                    break
        # Break the outer loop if the event_number has been assigned 'rundet_slots' times
        if df_timetable.loc[row].eq(event_number).sum() >= rundet_slots:
            break

df_timetable

   Raumbezeichnung   A   B    C    D    E
0              008  27  27   24   27   27
1              101  18  18   25  NaN  NaN
2              102   6   6   27  NaN  NaN
3              103  10  20  NaN  NaN  NaN
4              106  14   1  NaN  NaN  NaN
5              107  26   8  NaN  NaN  NaN
6              108   3   4  NaN  NaN  NaN
7              109   9  15  NaN  NaN  NaN
8              110  13  11  NaN  NaN  NaN
9              111  17   7  NaN  NaN  NaN
10             112  16   5  NaN  NaN  NaN
11             113   2  12  NaN  NaN  NaN
12            Aula  23  21  NaN  NaN  NaN
13             209  22  24  NaN  NaN  NaN