# Schülerdaten Einlesen (df_wahl)

In [48]:
import pandas as pd

In [49]:
df_wahl = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT2_Wahl.csv', delimiter= ';')
df_event = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT1_Veranstaltungsliste.csv', delimiter= ';')
df_raum = pd.read_csv(r'C:\Users\DE88342\OneDrive - Grunenthal Group\Desktop\VSC - Py\DPArenamed\Data\IMPORT BOT0_Raumliste.csv', delimiter= ';')

In [50]:
df_wahl.head(20)

,Klasse,Name,Vorname,Wahl 1,Wahl 2,Wahl 3,Wahl 4,Wahl 5,Wahl 6
0,ASS221,Bigay,Ali Eren,6.0,18.0,19.0,4.0,14.0,22.0
1,ASS221,Graf,Lena,16.0,17.0,9.0,18.0,19.0,15.0
2,ASS221,Görgen,Smilla Marie,20.0,25.0,1.0,15.0,26.0,11.0
3,ASS221,Iskender,Iclal Ece,10.0,2.0,6.0,16.0,18.0,15.0
4,ASS221,Karakas,Berfin,2.0,26.0,13.0,15.0,22.0,23.0
5,ASS221,Kavak,Hazal,NaN,NaN,NaN,NaN,NaN,NaN
6,ASS221,Martins,Ayo,6.0,16.0,18.0,23.0,24.0,25.0
7,ASS221,Mohammed,Zakariah,7.0,13.0,14.0,16.0,18.0,26.0
8,ASS221,Nguyen,Hai Nam,3.0,6.0,14.0,26.0,19.0,22.0
9,ASS221,Ntumba Tshikala,Ruth,3.0,18.0,23.0,4.0,15.0,16.0
10,ASS221,Rausch,Erik,3.0,10.0,16.0,17.0,11.0,9.0
11,ASS221,Saltan,Mustafa,6.0,18.0,19.0,4.0,14.0,22.0
12,ASS221,Schott,Isabell,15.0,17.0,3.0,18.0,8.0,16.0
13,ASS221,Sengöz,Aleyna,1.0,2.0,6.0,16.0,23.0,26.0
14,HÖH221,Alikahn,Malak,10.0,19.0,16.0,9.0,6.0,18.0
15,HÖH221,Almuhandez,Muhieb,9.0,6.0,17.0,8.0,13.0,10.0
16,HÖH221,Bendels,Lea,19.0,18.0,20.0,10.0,2.0,11.0
17,HÖH221,Bücken,Connor Luca,19.0,21.0,5.0,18.0,10.0,6.0
18,HÖH221,Dah,Mariama,18.0,18.0,21.0,27.0,4.0,13.0
19,HÖH221,Daher,Haschem,18.0,3.0,14.0,20.0,13.0,19.0

# Explorative Datenanalyse
Arithmetische Auszählung der Wahlen bei Schülern
Ziel: Die Auswertung gibt Aufschluss darüber, welcher Kurs wieviele Events mindestens pro Fachrichtung benötigt werden.

Erste Erkentnisse: 

1. Die Wahl 19 und 18 gehören zusammen (Finanzamt) Zusammen ergibt das mehr als 100 - Also muss Iterativ durch die Wahlen gearbeitet werden.

In [53]:
value_counts = pd.concat([df_wahl['Wahl 1'].value_counts(),
                         df_wahl['Wahl 2'].value_counts(),
                         df_wahl['Wahl 3'].value_counts(),
                         df_wahl['Wahl 4'].value_counts(),
                         df_wahl['Wahl 5'].value_counts(),
                         df_wahl['Wahl 6'].value_counts()], axis=1)

value_counts = value_counts.rename(columns={'Wahl 1': 'Wahl1', 'Wahl 2': 'Wahl2', 'Wahl 3': 'Wahl3', 'Wahl 4': 'Wahl4', 'Wahl 5': 'Wahl5', 'Wahl 6': 'Wahl6'})
print(value_counts)

      count  count  count  count  count  count
19.0   22.0   20.0     10    3.0    5.0    8.0
18.0   11.0   17.0     13    7.0    8.0    2.0
10.0   10.0    8.0      5    5.0    7.0    7.0
26.0   10.0    7.0      3   10.0    6.0    6.0
9.0     9.0    6.0      4    7.0    4.0    9.0
3.0     9.0    5.0      5   10.0    6.0    7.0
6.0     8.0   14.0      5   10.0    8.0    8.0
23.0    7.0    1.0      3    3.0    3.0    2.0
14.0    7.0    4.0     11    8.0    8.0    7.0
2.0     7.0    5.0      1    5.0    3.0    5.0
1.0     4.0    3.0      3    3.0    2.0    9.0
22.0    4.0    5.0      1    5.0    7.0    6.0
4.0     4.0    2.0      4    4.0    6.0    6.0
7.0     3.0    NaN      5    NaN    5.0    3.0
16.0    3.0    4.0      6    7.0    7.0    9.0
20.0    3.0    3.0      4    4.0    4.0    2.0
15.0    2.0    1.0      6    4.0   10.0    4.0
27.0    2.0    1.0      2    1.0    4.0    3.0
25.0    2.0    1.0      2    2.0    NaN    5.0
17.0    2.0    8.0      5    8.0    3.0    4.0
5.0     1.0    4.0      1    1.0    4.0    NaN
8.0     1.0    3.0      6    3.0    4.0    2.0
13.0    1.0    2.0     14   10.0    7.0    6.0
24.0    1.0    1.0      3    NaN    2.0    1.0
11.0    NaN    5.0      4    2.0    1.0    7.0
12.0    NaN    2.0      3    6.0    4.0    1.0
21.0    NaN    1.0      4    5.0    4.0    2.0

# Unternehmensliste einlesen (df_raum)

In [ ]:
df_event.head(50)

,Nr.,Unternehmen,Fachrichtung,Max. Teilnehmer,Max. Veranstaltungen,Frühester Zeitpunkt
0,1,Zentis,Industriekaufleute,20,5,A
1,2,Babor Kosmetik,Industriekaufleute,20,5,A
2,3,"EVA (Stawag, RegioIt, Aseag..)",Industriekaufleute,20,5,A
3,4,Grünenthal,"Industriekaufleute, BWL Plus (Industriekfm. Pl...",20,5,A
4,5,RWTH Aachen,Kaufleute für Büromanagement,20,5,A
5,6,Aldi,Einzelhandelskaufleute,20,5,A
6,7,Bauhaus,"Einzelhandelskaufleute, Handelsfachwirte, Dual...",20,5,A
7,8,Sparkasse Aachen,Bankkaufleute,20,5,A
8,9,Aachener Bank,Bankkaufleute,20,5,A
9,10,Debeka,Kaufleute für Versicherungen und Finanzen,20,5,B
10,11,Steuerberaterkammer Köln,Steuerfachangestellte,20,5,A
11,12,Rechtsanwaltberufe,Rechtsanwaltsfachangestellte,20,5,A
12,13,Notarberufe,Notarfachangestellte,20,5,A
13,14,Spedition Hammer,"Kaufleute für Spedition und Lagerlogistik, Kau...",20,5,A
14,15,Inform,Kaufmann/-frau für Büromanagement,20,5,A
15,16,Inform,Duales Studium Wirtschaftsinformatik,20,5,A
16,17,StädteRegion Aachen,Verwaltungsfachangestellte und Duales Studium ...,20,5,A
17,18,Finanzamt,duales Studium Dipl. Finanzwirt/-in,20,5,A
18,19,Finanzamt,Ausbildung Finanzwirt/-in,20,5,A
19,20,Justizvollzugsanstalt,"Beamter im allgemeinen Vollzugsdienst, Dipl-Ve...",20,5,A
20,21,Zoll Aachen,Beamter im mittleren und gehobenen Dienst,20,5,A
21,22,Polizei,Polizeikommisar*in,25,5,A
22,23,FH Aachen - Studienberatung,NaN,20,5,A
23,24,RWTH Aachen - Studienberatung,Hinweis: Studium hier nur mit Abitur möglich,20,5,A
24,25,Wirtschaftsrecht FH-Aachen,NaN,20,5,A
25,26,Soziale Arbeit,NaN,20,5,A
26,27,Lehramt Berufskolleg,NaN,20,5,A

In [ ]:
df_raum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   008     13 non-null     object
dtypes: object(1)
memory usage: 236.0+ bytes